<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://raw.githubusercontent.com/pavangole/AzureDemo/main/style.js"></script>
  <link rel="stylesheet" href="https://raw.githubusercontent.com/pavangole/AzureDemo/660b7125b3bbce6fdd762df5fb02943c956db9f9/style.css">
</head>
<main id="main">
  <ul id="thisismain">
    <li>
        <div class="frist">
         <img src="https://source.unsplash.com/random/100" alt="A purple Petunia flower in close focus" />
         </div>
    </li>
    <li>
        <div class="frist">
         <img src="http://source.unsplash.com/800" alt="A purple Petunia flower in close focus" />
         </div>
     </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/2000" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/300" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/300" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/300" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
      </ul>
</main>
