<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<main id="main">
  <ul id="thisismain">
    <li>
        <div class="frist">
         <img src="https://source.unsplash.com/random/100" alt="A purple Petunia flower in close focus" />
         </div>
    </li>
    <li>
        <div class="frist">
         <img src="http://source.unsplash.com/800" alt="A purple Petunia flower in close focus" />
         </div>
     </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/2000" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/300" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/300" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
    <li>
      <div class="frist">
         <img src="https://source.unsplash.com/random/300" alt="A purple Petunia flower in close focus" />
         </div>
      </li>
      </ul>
</main>
